nav {
    display: flex;
    justify-content: space-around;
    background-color: #005b96;
    padding: 25px 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

nav span {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    display: flex;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    text-transform: uppercase;
}

#menu_button {
    border-radius: 5px;
    color: white;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transition: 0.8s;
}


#menu_button:hover {
    background-color: black;
    border-color: #000000;
    color: #FFFFFF;
}


#title {
    padding: 50px 50px 20px 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

article {
    margin-bottom: 10px;
}

.topico {
    padding: 20px 50px;
    display: none;
}

.topico p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 70%;
    
}

.topico img {
    margin-top: 30px;
}

strong {
    font-weight: bold;
}

article a {
    color: #003366;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    padding: 0 50px;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #005b96;
    padding: 15px 0;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
}

#logo_git {
    width: 35px;
}

#dev_nome {
    margin-top: 10px;
}